<!DOCTYPE html>

<head>
    <title>To-Do lists</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>

<body>

    <div class="container" id="app">
        <h1 class="title"> To-Do lists: {{message}} </h1>
        <form method="POST">
            {% csrf_token %}
            <input name="todo_text" @keyup.enter="addTodo" v-model="message" class="input" name="todo_text"
                placeholder="Enter a to-do item" id="todo_text" />
        </form>
        <table id="todo_table" class="table is-bordered mt-5">
            <tr>
                <th>
                    Task
                </th>
            </tr>
            <tr>
                <td>
                    {{ new_todo_text }}
                </td>
            </tr>
        </table>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script type="module">
        const { createApp, ref, reactive } = Vue
        createApp({
            setup() {
                const message = ref('')
                const todoList = reactive([])
                function addTodo() {
                    todoList.push(message.value);
                    message.value = '';
                }
                return {
                    message,
                    todoList,
                    addTodo
                }
            }
        }).mount('#app')
    </script> -->
</body>

</html>