<!DOCTYPE html>
<html lang="en">

<head>
    <title>To-Do lists</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>

<body>
    <nav class="navbar is-link has-shadow" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="#"> Home </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        {% if user.is_authenticated %}
                        <p>Logged in as {{ user.email }}</p>
                        <form method="POST" action="/accounts/logout">
                            {% csrf_token %}
                            <button id="id_logout" class="button" type="submit">Log out</button>
                        </form>
                        {% else %}
                        <form method="POST" action="accounts/send_login_email">
                            <input class="input is-small" placeholder="Enter email to log in" name="email"
                                type="text" />
                            {% csrf_token %}
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <div class="container" id="app">
        <h1 class="title"> To-Do lists: {{message}} </h1>
        <form method="POST" action="/lists/new">
            {% csrf_token %}
            <input name="todo_text" @keyup.enter="addTodo" v-model="message" class="input"
                placeholder="Enter a to-do item" id="todo_text" />
        </form>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script type="module">
        const { createApp, ref, reactive } = Vue
        createApp({
            setup() {
                const message = ref('')
                const todoList = reactive([])
                function addTodo() {
                    todoList.push(message.value);
                    message.value = '';
                }
                return {
                    message,
                    todoList,
                    addTodo
                }
            }
        }).mount('#app')
    </script> -->
</body>

</html>