  <head>
    <title>To-Do lists</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
    <div class="container" id="app">

    <h1>Your To-Do list</h1>
    <h1>Start a new To-Do list</h1>
     <form method="POST" action="/src/lists/{{list.id}}/add">
       <input name="todo_text" class="input" id="todo_text" placeholder="Enter a to-do item" />
       {% csrf_token %}
     </form>
    <table id="todo_table">
      {% for item in items %}
        <tr><td>{{ forloop.counter }}: {{ item.description }}</td></tr>
      {% endfor %}
    </table>
              </div>

   </body>
